* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Comfortaa', cursive;
}
.appheader{
  background-color: rgb(52, 52, 52);
}
.addHeader{
  margin-bottom: 1.5rem;
  margin-top: 1rem;
}

input, label {
  display: block;
  width: 60%;
}

label {
  margin: 0.5rem 0;
}

input {
  margin: 0.5rem 0;
  padding: 0.4rem;
}

.App {
  max-width: 40rem;
  margin: 1rem auto;
  padding: 1rem;
}

input{
  border: rgba(74, 135, 201, 0.824) solid 5px;
}

label{
  font-weight: bolder;
}

.navlinks{
  background-color: rgb(100, 205, 237);
  overflow: hidden;
}
.navlinks a{
  float: left;
  color: #f5f5f5;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navlinks a:hover{
  background-color: rgb(0, 72, 150);
  cursor: pointer;
}

button{
  background-color: rgba(67, 147, 218, 0.824);
  font-family: 'Comfortaa', cursive;
  color: aliceblue;
  padding: 5px;
  font-size: large;
  border-radius: 5px;
  margin-top: 1rem;
}

.backgroundWhite{
background-color: white;
color: black;
}
.backgroundRed{
background-color: rgb(187, 0, 0);
color: black;
}            
.backgroundOrange{
background-color: rgb(255, 132, 0);
color: black;
}
.backgroundYellow{
background-color: gold;
color:black;
}
.backgroundGreen{
background-color: rgb(0, 147, 0);
}                    
.backgroundBlue{
background-color: deepskyblue;
color: whitesmoke;
}               
.backgroundTeal{
  background-color: rgb(51, 210, 210);
  color: white;
}   
.backgroundIndigo{
background-color: rgb(43, 0, 170);
color: white;
}
.backgroundViolet{
background-color: rgb(150, 55, 150);
color: black;
}
.backgroundBlack{
background-color: black;
color: white;
}               
.borderSolid{
border: black solid 5px;
margin: 1px;
padding: 5px;
}   
.borderDashed{
border: dashed 5px black;
margin: 1px;
padding: 5px;
}
.borderDotted{
  border: 5px dotted #000;
  margin-bottom: 1px;
  padding: 5px;
} 
.borderDouble{
  border: 10px black double;
  margin: 1px;
  padding: 5px;
}
.fontSansSerif{
  font-family: sans-serif;
}
.fontSerif{
font-family: serif;
}               
          
.styleNormal{
  font-style: normal;
}

.styleBold{
  font-style: bold;
}

.styleItalics{
  font-style: italic;
}

.styleUnderline{
  text-decoration: underline;
}

.alignmentLeft{
text-align: left;
} 
.alignmentRight{
text-align: right;
}
.alignmentCenter{
text-align: center;
}
.alignmentJustified{
text-align: justify;
}
.fontSizeSmall{
font-size: medium;
}
.fontSizeMedium{
font-size: larger;
}
.fontSizeLarge{
font-size: x-large;
}
.fontSizeJumbo{
font-size: 250%;
}
